* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hello {
  background-color: #634136;
  color:#FFF;
  margin-bottom: 0;
  font-style: italic;
}
h1, p {
  text-align: center;
  color: #5D6063;
}
p {
   padding: 20px 0 20px 10px;  /* Top  Right  Bottom  Left */
   /*margin-bottom: 10px;*/
   margin-top: 20px;
}
#intro {
  /*font-style: italic;*/
  font-weight: bold;
}
h1 {
  padding: 50px;
  color: #FFF;
  text-shadow: 8px 8px 8px black;
  font-size: 30px;
  /*border-bottom: 1px solid #5D6063;*/
}

body {
  background-image: url('homebackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;

}
.button{             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border: 5px solid #4f2a1e;    /* Dark gray */
  border-radius: 5px;
  width: 200px;
  margin: 10px auto;
  text-shadow: 2px 2px 2px black;
}
.b1:link,                 /* Change this */
.b1:visited {             /* Change this */
  color: #FFF;
  background-color: #5995DA;    /* Blue */
}
.b1:hover,
.b1:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}
.b1:active,
.b1:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}
.b2:link,                 /* Change this */
.b2:visited {             /* Change this */
  color: #FFF;
  background-color: #f54290;    /* Blue */
}
.b2:hover,
.b2:visited:hover {
  color: #FFF;
  background-color: #f589b8;  /* Light blue */
}
.b2:active,
.b2:visited:active {
  color: #FFF;
  background-color: #f54290;  /* Blue */
}
.b3:link,                 /* Change this */
.b3:visited {             /* Change this */
  color: #FFF;
  background-color: #2db593;    /* Blue */
}
.b3:hover,
.b3:visited:hover {
  color: #FFF;
  background-color: #96ebd5;  /* Light blue */
}
.b3:active,
.b3:visited:active {
  color: #FFF;
  background-color: #2db593;  /* Blue */
}
.b4:link,                 /* Change this */
.b4:visited {             /* Change this */
  color: #FFF;
  background-color: #e0cd3a;    /* Blue */
}
.b4:hover,
.b4:visited:hover {
  color: #FFF;
  background-color:#f0e48b;  /* Light blue */
}
.b4:active,
.b4:visited:active {
  color: #FFF;
  background-color: #e0cd3a;  /* Blue */
}
.page {

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.header, .content{
  margin: 0 auto;

}
.content{
  background-color: #f2cfa5;
  box-shadow: 5px 10px 25px #000000;
  margin-bottom: 40px;
  margin-top: 1px;
}
.header{
  background-color: #73442e;
  box-shadow: 0 10px 25px #000000;
  position:relative;
  z-index:2;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .button{
    font-size: 13px;
  }
  .h1{
    font-size: 15px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .b1, .b2, .b3, .b4{
    width: 30%
  }
  .button{
    font-size: 15px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .page {
    width: 960px;
    margin: 0 auto;
  }
  .b1, .b2, .b3, .b4{
    width: 40%
  }
}
